header {
    border-bottom: .1px #7772F1 solid;
}

.nav {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
    transition: color 0.3s ease;
}

.nav a:hover {
    color: #7772F1;
}

.nav a.active {
    color: #7772F1;
    
}

