.home-section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    padding: 40px;
    gap: 20px;
}

.intro {
    max-width: 600px;
}

.intro h1 {
    font-size: 36px;
    color: #7772F1;
    margin-bottom: 20px;
    line-height: 1.2;
}

.intro p {
    font-size: 18px;
    line-height: 1.6;
    color: white;
}

.home-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-image img {
    width: 70%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

